{% include 'header.twig' %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <h1>The Big Lebowski</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Lebowski ipsum this compulsive fornicator is taking my father for the proverbial ride. Dolor sit amet, consectetur adipiscing elit praesent ac magna justo pellentesque. Does the Pope shit in the woods? Ac lectus quis elit blandit fringilla a. Shomer shabbos. Ut turpis praesent felis ligula. How's the smut business, Jackie? Malesuada suscipit malesuada non, ultrices non urna sed orci ipsum, placerat id condimentum. And yet his son is a fucking dunce. Rutrum, rhoncus ac lorem.

            To use the parlance of our times. Aliquam placerat posuere neque, at dignissim magna ullamcorper in aliquam sagittis massa ac tortor. Every time a rug is micturated upon in this fair city, I have to compensate. Ultrices faucibus curabitur eu mi sapien. You might fool the fucks in the league office, but you don't fool Jesus! Ut ultricies ipsum morbi eget risus nulla nullam vel nisi enim, vel auctor ante.

            And Hill 364. These young men gave their lives. And Donny too. Donny who… who loved bowling. Morbi id urna vel. Ja, it seems you forgot our little deal, Lebowski. Felis lacinia placerat vestibulum turpis nulla. Since you have failed to achieve, even in the modest task that was your charge, since you have stolen my money, and since you have unrepentantly betrayed my trust. Viverra nec volutpat ac, ornare.

            Look, I've got certain information, certain things have come to light, and uh, has it ever occurred to you, man, that given the nature of all this new shit, that, uh, instead of running around blaming me, that this whole thing might just be, not, you know, not just such a simple, but uh—you know? Id lectus cras pharetra faucibus tristique. Three thousand years of beautiful tradition, from Moses to Sandy Koufax —YOU'RE GODDAMN RIGHT I LIVE IN THE PAST! Nullam non accumsan justo nulla.

            What are you, some kind of sad-assed refugee from the fucking sixties? Facilisi integer interdum elementum. I see you rolled your way into the semis. Dios mio, man. Seamus and me, we're gonna fuck you up. Nulla, nec eleifend nisl euismod ac maecenas vitae eros velit, eu suscipit. Thankie… Just one thing, Dude. D'ya have to use s'many cuss words? Erat integer purus lacus, pretium vel venenatis eu.
        </div>
        <div class="col-md-6">
            Lebowski ipsum when will you find these guys? I mean, do you have any promising leads? Mr. Lebowski asked me to repeat that: Her life is in your hands. We've got a man down, Dude. Shit, I know that guy. He's a nihilist. My dirty undies. Laundry, Dude. The whites. I'll get you a toe by this afternoon —with nail polish. You thought, hey, a deadbeat, a loser, someone the square community won't give a shit about.

            What the fuck are you talking about? I converted when I married Cynthia! The Dude abides. Yeah? What do you think happens when you get divorced? You turn in your library card? Get a new driver's license? Stop being Jewish? I—the royal we, man, you know, the editorial. Hardly Dude, a new 'vette? The kid's still got, oh, 96 to 97 thousand, depending on the options.

            I know how he likes to present himself; Father's weakness is vanity. Hence the slut. You're going to enter a world of pain, son. We know that this is your homework. We know you stole a car. Vee don't care. Vee still vant zat money or vee fuck you up. Fuck it Dude. Let's go bowling. Huh? Oh. Yeah. Tape deck. Couple of Creedence tapes. And there was a, uh… my briefcase.

            Let me tell you something, pendejo. You pull any your crazy shit with us, you flash a piece out on the lanes, I'll take it away from you and stick it up your ass and pull the fucking trigger til it goes "click". I didn't blame anyone for the loss of my legs, some chinaman in Korea took them from me but I went out and achieved anyway.

            Vee could do things you only dreamed of, Lebowski. I'll tell you who I am! I'm the guy who's gonna KICK YOUR PHONY GOLDBRICKING ASS! HERE'S WHAT HAPPENS, LARRY! They're nihilists. The Knutsens. It's a wandering daughter job. Bunny Lebowski, man. Her real name is Fawn Knutsen. Her parents want her back. I got information—new shit has come to light and—shit, man! She kidnapped herself! WALTER, FOR CHRIST'S SAKE! HE'S CRIPPLED! PUT HIM DOWN!
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img class="thumbnail" src="http://placekitten.com/500/300" alt="1"/>
        </div>
        <div class="col-md-6">
            Lebowski ipsum come and get it. Fucking nihilist. Dolor sit amet, consectetur adipiscing elit praesent ac magna justo pellentesque ac. Please see him, Jeffrey. He's a good man. And thorough. Lectus quis elit blandit fringilla. I got information—new shit has come to light and—shit, man! She kidnapped herself! A ut turpis praesent felis ligula, malesuada suscipit malesuada non, ultrices. Wal, I lost m'chain of thought here. But—aw hell, I done innerduced him enough. Non urna sed orci ipsum, placerat id condimentum.

            And yet his son is a fucking dunce. Rutrum, rhoncus ac lorem aliquam placerat. They won't hurt us, Donny. These men are cowards. Posuere neque, at dignissim magna ullamcorper in aliquam sagittis massa. The nail polish, Walter. Ac tortor ultrices faucibus curabitur eu mi sapien, ut ultricies. It's a fucking show dog with fucking papers. You can't board it. It gets upset, its hair falls out. Ipsum morbi eget risus nulla nullam vel nisi enim, vel.
        </div>
    </div>
</div>
{% include 'footer.twig' %}